body {
  background-color: #8fe1c6; 
}

.eye{
  position:absolute;
  height:450px;
  width:250px;
  top: 160px;
  left : 80px;
  z-index: 1;
}

.heaven
{
  position:absolute;
  height:700px;
  width:1470px;
  z-index: -1;
}

.title
{
  position:absolute;
  height:100px;
  width:300px;
  top: 30px;
  left : 50px;
  z-index: -1;
}

.vale
{
  position:absolute;
  height:400px;
  width:1000px;
  top: 100px;
  left : 400px;
  z-index: -1;
}

.rest
{
  position:absolute;
  height:100px;
  width:1000px;
  top: 550px;
  left : 400px;
  z-index: -1;
}

.dropdown-container
{
  position:absolute;
  top: 350px;
  left : 870px;
  z-index: -1;
}

